{% extends 'main.html' %}

{% block content %}
<h1>Home Template</h1>

<div>
	<div>
		<a href="{% url 'create-room' %}">Create Room</a>
		{% for room in rooms %}
		<div>
			<a href="{% url 'update-room' room.id %}">Edit the post</a>
			<a class="danger" href="{% url 'delete-room' room.id %}">Delete</a>
			<span>@{{room.host.username}}</span>
			<h5>{{room.id}} -- {{room.name}}
				<a href="{% url 'room' room.id %}">{{room.name}}</a>
			</h5>
			<small>{{room.topic.name}}</small>
			<hr>
		</div>
		{% endfor %}
	</div>
</div>

<style>
	.danger {
		color: red;
	}
</style>

{% endblock content %}